.entry-content {
}

.woocommerce-account .woocommerce-MyAccount-content {
  text-align: right;
  padding-right: 30px ;
  padding-top: 30px;
}
.woocommerce-MyAccount-navigation{
  width: 25% !important;
}
.woocommerce-Address-title {
  //display: flex;
  //flex-direction: column;
}

